<h1>Please pick your sandwich parts:</h1>
<center>

<form method="post" action="/build">
  <h3> Please select your meats:</h3>
    <p><input  type="checkbox"  id="Ham"  value="Ham"  name="pick[]">Ham</p>
    <p><input  type="checkbox"  id="Turkey"  value="Turkey"  name="pick[]">Turkey</p>
    <p><input  type="checkbox"  id="Salami"  value="Salami"  name="pick[]">Salami</p>
    <p><input  type="checkbox"  id="Pepperoni"  value="Pepperoni"  name="pick[]">Pepperoni</p>
  <h3> Please select your Veggies:</h3>
   <p><input  type="checkbox"  id="Lettuce"  value="Lettuce"  name="pick[]">Lettuce</p>
   <p><input  type="checkbox"  id="Tomato"  value="Tomato"  name="pick[]">Tomato</p>
   <p><input  type="checkbox"  id="Onion"  value="Onion"  name="pick[]">Onion</p>
   <p><input  type="checkbox"  id="Olives"  value="Olives"  name="pick[]">Olives</p>
  <h3> Please select your Cheese:</h3>
   <p><input  type="checkbox"  id="Swiss"  value="Swiss"  name="pick[]">Swiss Cheese</p>
   <p><input  type="checkbox"  id="American"  value="American"  name="pick[]">American Cheese</p>
   <p><input  type="checkbox"  id="Provolone"  value="Provolone"  name="pick[]">Provolone Cheese</p>
   <p><input  type="checkbox"  id="Pepperjack"  value="PepperJack"  name="pick[]">Pepper Jack Cheese</p>
  <input type='submit'></center>
</form>